# Fmt Println debug
snippet fn "fmt.Println(...)"
fmt.Println(${1:${VISUAL}})
endsnippet

# Fmt Println debug in double quotes
snippet fnq "(in double quotes): fmt.Println(...)"
fmt.Println("${1:${VISUAL}}")
endsnippet
