snippet re "require ..."
require '${1:ruby_file}'
endsnippet

snippet cl "class SomeClass ..."
class ${1:SomeClass} < ${2:Parent}
	${3}
end
endsnippet

snippet mo "module SomeModule ..."
module ${1:SomeModule}
	${3}
end
endsnippet
